{% extends "FSPBundle:User:accueil.html.twig" %}
{% block blocCentre %}
  <div id="blocCentre">
   <div id="contenu">
    <div id ="AnnoncesTheme">
     <p>Annonces - Culture</p>
    </div>
      <table class ="listeAnnonce">

       {% for uneAnnonce in lesAnnonces %}
         {% set titre  = uneAnnonce.titre %}
         {% set date   =  uneAnnonce.date %}
         {% set prenom =  uneAnnonce.prenom %}
         {% set image  =  uneAnnonce.image %}

       <tr>
           <td class="titre">{{titre}}</td>
           <td class="date">Le {{date}}</td>
           <td class="prenom">Par {{prenom}}</td>
           <td class="statut"><img src="{{asset('bundles/fsp/images/')}}{{image}}" id="statut"></img></td>
       </tr>
       {% endfor %}
      </table>
   </div>
  </div>
{% endblock %}
