{% extends "FSPBundle:User:accueil.html.twig" %}
{% block blocCentre %}
    <div id="blocCentre">
     <div id="contenu">
      <div id="Compte">
       <p>Mon Compte</p>
       <p>
	{{app.session.get('prenom')}}
	{{app.session.get('nom')}}
       </p>
      </div> 	
      <table class ="listeAnnonce">
       {% for uneAnnonce in lesAnnonces %}
	{% set titre = uneAnnonce.titre %}
	{% set date  = uneAnnonce.date %}
	{% set etat  = uneAnnonce.etat %}

       <tr>
	   <td class="titre">{{titre}}</td>
           <td class="date">Le {{date}}</td>
           <td class="statut">Statut : {{etat}}</td>
       </tr>
       {% endfor %}
      </table>	    
     </div>
    </div>
{% endblock %}
         
    

